.Login {
    width: 100%;
    height: 100%;
    position: relative;
}

.Login-img {
    height: 100%;
    background-image: url("https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/static/media/banner.a0e6fbf0.jpg");
    background-size: 100% 100%;
}

@media screen and (max-width: 999px) {
    .Login-img {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .Login-img {
        width: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .Login-img {
        width: 375px;
    }
}

.Login-r {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 999px) {
    .Login-r {
        margin-left: 0;
    }
}

@media screen and (min-width: 1000px) {
    .Login-r {
        margin-left: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .Login-r {
        margin-left: 375px;
    }
}

.Login-r-top {
    padding: 20px;
    height: 40px;
    width: calc(100% - 40px);
}

.login-logo {
    font-size: 26px;
    font-weight: 500;
    color: #333;
    line-height: 40px;
    float: left;
}

.login-logo img {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    margin-right: 10px;
}

.login-bottom {
    float: right;
}

.login-bottom>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bottom>ul>li {
    height: 40px;
    margin: 0 10px;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
}

.login-bottom>ul>li>span {
    font-size: 14px;
    font-weight: 400;
    color: #838383;
    cursor: pointer;
}

.login-bottom>ul>li>span:hover {
    color: #ff6900;
}

.login-xiala img {
    display: inline-block;
    width: 10px;
    height: 7px;
    margin-left: 5px;
    transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

.login-xiala {
    width: 100px;
    position: relative;
}

.login-xiala ul {
    position: absolute;
    top: 40px;
    left: 18px;
    box-shadow: 0 20px 50px 0 hsl(0deg 0% 64% / 10%);
    display: none;
    background: #ffffff;
}

.login-xiala ul li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #838383;
    cursor: pointer;
    padding: 0 5px;
}

.login-xiala ul li:hover {
    background-color: #FFF3E6;
}

.login-xiala:hover>ul {
    display: block;
}

.login-xiala:hover>i>img {
    transform: rotate(180deg);
}

.Login-r-cro {
    padding-top: 70.5px;
}

.mi-layout__card {
    width: 450px;
    height: 600px;
    margin: 0 auto;
    padding: 40px 45px;
    box-shadow: 0 20px 50px 0 hsl(0deg 0% 64% / 10%);
}

.tabs-tab {
    cursor: pointer;
    transition: color .3s cubic-bezier(.645, .045, .355, 1);
    color: #bbb;
    line-height: 41px;
    font-size: 22px;
    font-weight: 400;
    position: relative;
}

.tabs-tab-active {
    color: #333;
    font-weight: 500;
}

.tabs-tab-active::before {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #FF5C00;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mi-password-field {
    margin-top: 20px;
    height: 375px;
    transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
}

.mi-layout__card>ul>li {
    float: left;
    margin-right: 20px;
}

.mi-layout__card .ant-input {
    height: 60px
}

.mi-password-field .ant-input {
    margin-top: 20px;
}

.mi-password-field .ant-input-password .ant-input {
    margin-top: 0;
    height: 52px;
}

.mi-password-field .ant-input-password {
    margin-top: 20px;
}

.mi-password-field .ant-btn {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    background: #FF5C00;
    border: 1px solid #FF5c00;
    font-size: 18px;
}

.mi-password-field .ant-btn-primary:hover, .mi-password-field .ant-btn-primary:focus {
    background: #FF7E29;
    color: #ffffff;
}

.mi-form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #FF5C00;
}

.mi-sns-login {
    width: 360px;
    height: 96px;
    text-align: center;
}

.mi-sns-login ul {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.mi-sns-login li {
    width: 46px;
    height: 46px;
    background: #18ACFC;
    margin: 0 10px;
}

.Login--r-button {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    color: #999;
    font-size: 12px;
}